$background-color: #ffffff;
$navbar-color: #def7ffce;
$primary-color: #68bde1;
$secondary-color: #def7ffce;

$text-color: #000000;
$outline: #100101f1;

//Style the body for all the website

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

.navbare {
  background-color: $navbar-color;
  border-bottom: 1px solid #e6e6e6;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  top: 0;
  z-index: 1;
}

.contener-logo {
  display: flex;
  align-items: center;
  .logo {
    width: 3rem;
    height: 4rem;
  }
  .title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    .fridge {
      margin: 0 0 0 0.5rem;
    }
    .rest {
      margin: 0 0 0 0.5rem;
    }
  }
}

.search{
  display: flex;
  align-items: center;
  width: 30rem;
  height: 2rem;
  border-radius: 2rem;
  border: 2px transparent;
  margin: 0 0 0 1rem;
  .input {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 2rem;
    outline: none;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    &::placeholder {
      color: rgb(0, 0, 0);
    }

  }
  .button-search {
    margin-left: 0.5rem;
    background-color: $primary-color;
    border: none;
    border-radius: 30px;
    .loupe {
      width: 2rem;
      height: 2rem;
    }
  }

}

.myfridge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  background-color: $primary-color;
  border: none;
  border-radius: 2rem;
  color: black;
  border: 2px transparent;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
  -ms-text-underline: none;
  cursor: pointer;
    &:hover {
      background-color: $secondary-color;
    }
}

